{% extends 'base.html.twig' %}

{% block title %}HomePage !{% endblock %}

{% block breadcrumb %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Page D'accueil</a>
        </li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Je suis vide</h1>
            <p>Mais le template est en place et je peux facilement avoir des pages qui fonctionnent</p>
        </div>
    </div>
{% endblock %}