{% extends 'base.html.twig' %}

{% block title %}HomePage !{% endblock %}

{% block breadcrumb %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Page D'accueil</a>
        </li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if app.user %}
                <h1>Bienvenue {{ app.user.name }}</h1>
            {% else %}
                <h1>Bienvenue Anonymous User</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}